<table class='upd_apar_defs'>
  <script type='text/javascript'>
    /*
     * Note: We have to figure out the paths here in the view.  They
     * are not available from the assets.
     */
     $.views.helpers({
	 swinfo_path: function(val) {
	     return '<%= swinfo_path("TARGET") %>'.replace("TARGET", val);
	 }
     });

     $.views.tags({
	 link_to: function (link, klass, text) {
	     return $.render.template2({link: link, klass: klass, text: text});
	 }
     });
  </script>
  <thead>
    <tr>
      <th>#</th>
      <th>Defect</th>
      <th>Apar</th>
      <th>PTF</th>
      <th>Abstract</th>
      <th>LPP</th>
      <th>VRMF</th>
      <th>Version</th>
      <th>Service Pack</th>
    </tr>
  </thead>
  <tbody>
    <%# render @items %>
  </tbody>
</table>
