<table class='upd_apar_defs'>
  <thead>
    <tr>
      <th>#</th>
      <% [ "Defect", "Apar", "PTF", "Abstract", "LPP", "VRMF", "Version", "Service Pack" ].each do |w| %>
	<th class='upd_apar_def-<%= w.gsub(' ', '_').downcase %>'>
	  <span class='upd_apar_defs_header_span'><%= w %>
	    <span class='sort sortable'></span>
	  </span>
	</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%# render @items %>
  </tbody>
</table>
