<table class='upd_apar_defs'>
  <thead>
    <tr>
      <th>Defect</th>
      <th>Apar</th>
      <th>PTF</th>
      <th>Abstract</th>
      <th>LPP</th>
      <th>VRMF</th>
      <th>Version</th>
      <th>Service Pack</th>
    </tr>
  </thead>
  <tbody>
    <%= render @items %>
  </tbody>
</table>
