<table class='upd_apar_defs'>
  <script type='text/javascript'>
    /*
     * Note: We have to figure out the paths here in the view.  They
     * are not available from the assets.
     */
     $.views.helpers({
	 swinfo_path: function(val) {
	     return '<%= swinfo_path("TARGET") %>'.replace("TARGET", val);
	 }
     });

     $.views.tags({
	 link_to: function (link, klass, text) {
	     return $.render.template2({link: link, klass: klass, text: text});
	 }
     });
  </script>
  <thead>
    <tr>
      <th>#</th>
      <th class='upd_apar_def-defect'>Defect<span class='sort sort-up sort-pos-1'></span></th>
      <th class='upd_apar_def-apar'>Apar<span class='sort sort-up sort-pos-2'></span></th>
      <th class='upd_apar_def-ptf'>PTF<span class='sort sort-up sort-pos-3'></span></th>
      <th class='upd_apar_def-abstract'>Abstract<span class='sort sortable'></span></th>
      <th class='upd_apar_def-lpp'>LPP<span class='sort sortable'></span></th>
      <th class='upd_apar_def-vrmf'>VRMF<span class='sort sortable'></span></th>
      <th class='upd_apar_def-version'>Version<span class='sort sortable'></span></th>
      <th class='upd_apar_def-service_pack'>Service Pack<span class='sort sortable'></span></th>
    </tr>
  </thead>
  <tbody>
    <%# render @items %>
  </tbody>
</table>
