<%# -*- coding: utf-8 -*-
    Copyright 2012 Ease Software, Inc.
    All Rights Reserved
-%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<% @title = "Login Not Found Exceiption Caught" %>
<p class='exception'>
  Condor is trying to find your CMVC id but failed.  The second step is
  find a CMVC id with a ccnum equal to the uid field of your Bluepages
  LDAP entry.  But, the Report Condor ran did not produce any matches.
</p>
<p class='exception'>
  You probably need to contact Perry and set up the cmvc id by hand.
</p>
