<%# -*- coding: utf-8 -*-
    Copyright 2012 Ease Software, Inc.
    All Rights Reserved
-%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<% @title = "No Boot Strap Exceiption Caught" %>
<p class='exception'>
  Condor is trying to find your CMVC id but failed.  The second step is
  find a CMVC id with a ccnum equal to the uid field of your Bluepages
  LDAP entry.  To do this, Condor needs to be set up with a bootstrap
  CMVC id and it was not.
</p>
<p class='exception'>
  You need to contact Perry and remind him to do this.
</p>
