<%# -*- coding: utf-8 -*-
    Copyright 2012 Ease Software, Inc.
    All Rights Reserved
-%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<% @title = "No UID Exceiption Caught" %>
<p class='exception'>
  Condor is trying to find your CMVC id but failed.  The first step is
  to get the <q>uid</q> entry from your Bluepages LDAP entry but it
  came up empty.
</p>
<p class='exception'>
  You probably need to contact Perry to manually set up a CMVC id.
</p>
