<%# -*- coding: utf-8 -*-
    Copyright 2012 Ease Software, Inc.
    All Rights Reserved
-%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<% @title = "Welcome to Condor 3" %>
<div class='forms'>
  <p id='swinfo_paragraph'>
    <%= form_tag swinfo_post_path do %>
      <span class='form-description'>swinfo</span>
      <%= text_field_tag "item" %>
      <%= submit_tag "Submit" %>
    <% end %>
  </p>
</div>
