<%# -*- coding: utf-8 -*-
    Copyright 2012-2013 Ease Software, Inc.
    All Rights Reserved
-%>
<!-- <%= __FILE__[Rails.root.to_s.length+1 .. -1] %> -->
<div class=src-file-container'>
  <%= presenter.show_file %>
</div>
