/*
 * I wanted the CSS reset before this so application.css is just a digest
 */

/*
 * List of darker/lighter shades of lightblue from
 * http://www.w3schools.com/tags/ref_colorpicker.asp?colorhex=ADD8E6
 */
$darker9:  #000000;
$darker8:  #111617;
$darker7:  #232B2E;
$darker6:  #344145;
$darker5:  #45565C;
$darker4:  #566C73;
$darker3:  #68828A;
$darker2:  #7997A1;
$darker1:  #8AADB8;
$darker0:  #9CC2CF;
$base:     #ADD8E6;			/* lightblue */
$lighter0: #B5DCE8;
$lighter1: #BDE0EB;
$lighter2: #C6E4EE;
$lighter3: #CEE8F0;
$lighter4: #D6ECF2;
$lighter5: #DEEFF5;
$lighter6: #E6F3F8;
$lighter7: #EFF7FA;
$lighter8: #F7FBFC;
$lighter9: #FFFFFF;

$background: white;
$foreground: black;
$error: red;
$title-background: $primary-lighter;
$title-margin: .9em;
$block-border: 4px double $primary-light;

@mixin base-pre {
    pre {
	line-height: 1.1em;
	margin-left: $title-margin;
    }

    pre.err {
	color: red;
    }
}

.ui-button {
    font-size: 80%;
}

table.centered-table {
    border: $block-border;
    border-radius: $cornerRadius;
    border-collapse: separate;
    margin-right: auto;
    margin-left: auto;

    a {
	color: black;
	cursor: pointer;

	&:hover {
	    background-color: rgb(250, 250, 250);
	}
    }

    th {
	vertical-align: baseline;
	padding-top:     4px;
	padding-bottom:  4px;
	padding-left:    6px;
	padding-right:   0px;
    }

    td {
	vertical-align: baseline;
	padding-top:     8px;
	padding-bottom:  8px;
	padding-left:    6px;
	padding-right:   6px;
    }

    tr {
	border: 1px solid black;
    }

    thead {
	background-color: white;
    }

    tfoot {
	display: none;
    }

    tbody {
	tr {

	    &:nth-child(odd) {
		background-color: rgb(235, 235, 235);
	    }

	    &:nth-child(even) {
		background-color: rgb(225, 225, 225);
	    }
	}
    }
}

body {
    font-size: 100%;
    line-height: 1.5em;
    background-color: $background;
    color: $foreground;

    div.home {
	float: left;
	margin-top: $title-margin;
	margin-left: $title-margin;

	a.home-button {
	    cursor: pointer;
	}
    }
    
    /* When displayed, this is not under div.help */
    .help-text {
	p {
	    font-size:1em;
	    margin-top: 1.5em;
	    margin-bottom: 1.5em;
	}
    }

    div.help {
	float: right;
	margin-top: $title-margin;
	margin-right: $title-margin;

	button.help-button {
	    cursor: help;
	/*     background-color: $darker2; */
	/*     border: 2px outset $darker3; */
	/*     border-radius: 20em; */
	/*     display: inline-block; */
	/*     font-weight: bold; */
	/*     padding: 0.4em 0.8em; */
	}
    }

    h2.title {
	text-align: center;
	padding-top: $title-margin;
	padding-bottom: $title-margin;
	margin-bottom: 1.25em;

	span {
	    border: $block-border;
	    border-radius: $cornerRadius;

	    font-size: 120%;
	    background-color: white;
	    display: inline-block;
	    font-weight: bold;
	    padding: .5em;
	}
    }
}

#errors {
    color: $error;
}
