// -*- coding: utf-8 -*-
//
// Copyright 2012-2013 Ease Software, Inc. and Perry Smith
// All Rights Reserved
//
/*
 * List of darker/lighter shades of lightblue from
 * http://www.w3schools.com/tags/ref_colorpicker.asp?colorhex=ADD8E6
 */
$darker9:  #000000;
$darker8:  #111617;
$darker7:  #232B2E;
$darker6:  #344145;
$darker5:  #45565C;
$darker4:  #566C73;
$darker3:  #68828A;
$darker2:  #7997A1;
$darker1:  #8AADB8;
$darker0:  #9CC2CF;
$base:     #ADD8E6;			/* lightblue */
$lighter0: #B5DCE8;
$lighter1: #BDE0EB;
$lighter2: #C6E4EE;
$lighter3: #CEE8F0;
$lighter4: #D6ECF2;
$lighter5: #DEEFF5;
$lighter6: #E6F3F8;
$lighter7: #EFF7FA;
$lighter8: #F7FBFC;
$lighter9: #FFFFFF;

$background: white;
$foreground: black;
$error: red;
$title-background: $primary-lighter;
$title-margin: .9em;
$block-border-width: 4px;
$block-border: $block-border-width double $primary-light;
$text-line-height: 1.25em;

@mixin box-border {
    border: $block-border;
    border-radius: $cornerRadius;
}

@mixin base-pre {
    line-height: $text-line-height;
    margin-left: $title-margin;
}

.centered-span {
    text-align: center;
    padding-top: $title-margin;
    padding-bottom: $title-margin;
    
    span {
	@include box-border;
	background-color: white;
	display: inline-block;
	font-weight: bold;
	padding: .5em;
    }
}

.ui-button {
    font-size: 80%;
    background-color: #F0F0F0;
}

table.centered-table {
    @include box-border;
    border-collapse: separate;
    margin-right: auto;
    margin-left: auto;

    a {
	color: black;
	cursor: pointer;

	&:hover {
	    background-color: rgb(250, 250, 250);
	}
    }

    th {
	vertical-align: baseline;
	padding-top:     4px;
	padding-bottom:  4px;
	padding-left:    6px;
	padding-right:   0px;
    }

    td {
	vertical-align: baseline;
	padding-top:     8px;
	padding-bottom:  8px;
	padding-left:    6px;
	padding-right:   6px;
    }

    tr {
	border: 1px solid black;
    }

    thead {
	background-color: white;
    }

    tfoot {
	display: none;
    }

    tbody {
	tr {

	    &:nth-child(odd) {
		background-color: rgb(235, 235, 235);
	    }

	    &:nth-child(even) {
		background-color: rgb(225, 225, 225);
	    }
	}
    }
}

body {
    font-size: 100%;
    line-height: $text-line-height;
    background-color: $background;
    color: $foreground;

    div.home {
	float: left;
	margin-top: $title-margin;
	margin-left: $title-margin;

	a.home-button {
	    cursor: pointer;
	}
    }
    
    /* When displayed, this is not under div.help */
    .help-text {
	p {
	    font-size:1em;
	    margin-top: 1.5em;
	    margin-bottom: 1.5em;
	}
    }

    div.help {
	float: right;
	margin-top: $title-margin;
	margin-right: $title-margin;

	button.help-button {
	    cursor: help;
	}
    }

    h2.title {
	@extend .centered-span;

	span {
	    font-size: 120%;
	}
    }

    /*
     * This is the same as .centered-span except using a pre instead
     * of a span.  It needs to be merged in somehow
     */
    div.error_block {
	@include box-border;
	margin-left: 1em;
	margin-right: 1em;
	padding-top: $title-margin;
	padding-bottom: $title-margin;
	padding-left: 1em;
    
	pre {
	    font-family: "DejaVu Sans Mono", Menlo, Monaco, Consolas, Courier, monospace;
	    display: inline-block;
	}

	ol {
	    list-style-type: decimal;
	    list-style-position: outside;
	}

	li {
	    margin-left: 2em;
	}
    }
}

#errors {
    color: $error;
}

p.exception {
    margin-left: $title-margin;
    line-height: $text-line-height;
}
