/*
.magic-td {
    letter-spacing: 0px;
}

.magic-td-left-button {
    vertical-align: bottom;
    padding: 0px 3px 0px 3px;
    letter-spacing: 0px;

    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -khtml-border-top-left-radius: 8px;
    border-top-left-radius: 8px;

    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -khtml-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;

    border-style: outset;
    border-width: 3px;
    border-right-width: 0px;
}

.magic-icon {
    height: 14px;
    width: 14px;
}

.magic-td-right-button {
    vertical-align: bottom;
    padding: 0px 3px 0px 0px;
    letter-spacing: 0px;

    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -khtml-border-top-right-radius: 8px;
    border-top-right-radius: 8px;

    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -khtml-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;

    border-style: outset;
    border-width: 3px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: black;
}
*/

.upd_apar_def_dual_button {
    padding-left:    0px;
}

.foo {
    position: relative;
}

.upd_apar_def_link {
    cursor: pointer;
}

.upd_apar_def_link:hover {
    background-color: rgb(250, 250, 250);
}

.upd_apar_def_span {
    width: 11px;
    height: 10px;
    cursor: context-menu;
    background-image: url(/assets/jquery-ui-1.8.21.custom/css/smoothness/images/ui-icons_222222_256x240.png);
    background-position: -67px -20px;
    display: inline-block;
    position: absolute;
    top: 13px;
    right: -2px;
}

.upd_apar_def_span:hover {
    background-color: white;
    /*
    background-image: url(/assets/jquery-ui-1.8.21.custom/css/smoothness/images/ui-icons_888888_256x240.png);
    */
}

table.upd_apar_defs {

    a {
	color: black;
    }

    border-width: 0px;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;

    th {
	padding: 0px;
    }

    td {
	vertical-align: baseline;
	padding-top:     8px;
	padding-bottom:  8px;
	padding-left:    6px;
	padding-right:   6px;
    }

    tr {
	border: 1px solid black;
    }

    thead {
	background-color: #8AADB8;
    }

    tfoot {
	display: none;
    }

    tbody {
	tr {
	    .upd_apar_def_commands {
		position: absolute;
		list-style-type: none;
		/* margin: 0px; */
		background-color: white;
		box-shadow: 8px 8px 8px #222;
		z-index: 1;
	    }
	}

	tr:nth-child(odd) {
	    background-color: rgb(212, 212, 212);
	}

	tr:nth-child(even) {
	    background-color: rgb(225, 225, 225);
	}

/*
	tr:hover {
	}
*/

	td.upd_apar_def-index {
	    text-align: right;
	}
	
	td.upd_apar_def-defect {
	    text-align: right;
	}

	td.upd_apar_def-apar {
	    text-align: left;
	}

	td.upd_apar_def-ptf {
	    text-align: left;
	}

	td.upd_apar_def-abstract {
	    text-align: left;
	}

	td.upd_apar_def-lpp {
	    text-align: left;
	}

	td.upd_apar_def-vrmf {
	    text-align: left;
	}

	td.upd_apar_def-version {
	    text-align: center;
	}

	td.upd_apar_def-service_pack {
	    text-align: left;
	}
    }
}
