/*
 * Since this file is included via SASS' @import, it can not have erb
 * constructs.  There is probably a solution to that but since I don't
 * need erb constructs yet, I'm going to tackle that problem today.
 *
 * For example, it would be nice to do:

$png_file: <%= asset_path "jquery-ui-1.8.21.custom/css/smoothness/images/ui-icons_222222_256x240.png" %>;

 */
$png_file: "jquery-ui/ui-icons_222222_256x240.png";


menu {
    margin: 1em 0px 0px 0px;
    padding: 0px;
}

.upd_apar_def_dual_button {
    padding-left:    0px;
}

.upd_apar_def_outer_td_span {
    line-height: $text-line-height;
    vertical-align: baseline;
    position: relative;
    top: 0px;
    left: 0px;
}

.upd_apar_defs_header_span:hover {
    background-color: $darker0;
    cursor: pointer;
}

.sort {
    display: inline-block;
    width: 14px;
    height: 16px;
    background-image: url($png_file);
}

.sortable {
    background-position: -128px -48px;
}

.sort-up {
    background-position: -0px -48px;
}

.sort-down {
    background-position: -64px -48px;
}

.sort-pos-1 {
    opacity: 1.0;
}

.sort-pos-2 {
    opacity: 0.6;
}

.sort-pos-3 {
    opacity: 0.3;
}

.upd_apar_def_link {
    vertical-align: baseline;
}

.upd_apar_def_inner_td_span {
    /* border: 1px solid black; */
    width: 9px;
    height: 9px;
    cursor: context-menu;
    background-image: url($png_file);
    background-position: -68px -20px;
    background-origin: border-box;
    display: inline-block;
    position: absolute;
    bottom: -7px;
    right: -8px;
    vertical-align: baseline;
    line-height: $text-line-height;

    &:hover {
	background-color: white;
    }
}

table.upd_apar_defs {
    @extend table.centered-table;

    th {
	text-align: right;
    }

    thead {
	th.upd_apar_def-abstract {
	    text-align: center;
	}

	th.upd_apar_def-lpp {
	    text-align: left;
	}
    }

    tbody {
	tr {
	    .upd_apar_def_commands {
		border: 1px solid grey;
		border-radius: $cornerRadius;
		background-color: rgb(240,240,240);
		box-shadow: 8px 8px 8px #222;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		width: 10em;
		    
		li {
		    text-decoration: underline;
		    padding: 3px;
		    text-align: left;
		    word-spacing: normal;
		
		    &:hover {
			background-color: white;
			cursor: pointer;
		    }

		    &:first-child {
			margin-top: 2px;
		    }

		    &:last-child {
			margin-bottom: 2px;
		    }
		}
	    }
	}

	td {
	    &.upd_apar_def-index {
		text-align: right;
	    }
	    
	    &.upd_apar_def-defect {
		text-align: right;
		padding-right: 10px;
	    }
	    
	    &.upd_apar_def-apar {
		text-align: right;
		padding-right: 10px;
	    }
	    
	    &.upd_apar_def-ptf {
		text-align: right;
		padding-right: 10px;
	    }
	    
	    &.upd_apar_def-abstract {
		text-align: left;
	    }
	    
	    &.upd_apar_def-lpp {
		text-align: left;
	    }
	    
	    &.upd_apar_def-vrmf {
		text-align: right;
	    }
	    
	    &.upd_apar_def-version {
		text-align: center;
	    }
	    
	    &.upd_apar_def-service_pack {
		text-align: right;
	    }
	}
    }
}
