table.upd_apar_defs {

    border-width: 0px;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;

    th {
	padding: 3px 3px;
    }

    td {
	padding: 3px 5px;
    }

    tr {
	border: 1px solid black;
    }

    thead {
	background-color: #8AADB8;
    }

    tfoot {
	display: none;
    }

    tbody {
	tr {
	    cursor: pointer;

	    .upd_apar_def_commands {
		position: absolute;
		list-style-type: none;
		margin: 0px;
		background-color: white;
		box-shadow: 8px 8px 8px #222;
		padding: 6px;
		z-index: 1;
	    }
	}

	tr:nth-child(odd) {
	    background-color: rgb(212, 212, 212);
	}

	tr:nth-child(even) {
	    background-color: rgb(225, 225, 225);
	}

	tr:hover {
	    background-color: rgb(250, 250, 250);
	}

	td.upd_apar_def-index {
	    text-align: right;
	}
	
	td.upd_apar_def-defect {
	    text-align: right;
	}

	td.upd_apar_def-apar {
	    text-align: left;
	}

	td.upd_apar_def-ptf {
	    text-align: left;
	}

	td.upd_apar_def-abstract {
	    text-align: left;
	}

	td.upd_apar_def-lpp {
	    text-align: left;
	}

	td.upd_apar_def-vrmf {
	    text-align: left;
	}

	td.upd_apar_def-version {
	    text-align: center;
	}

	td.upd_apar_def-service_pack {
	    text-align: left;
	}
    }
}
