
body.welcome {
    /*
     * The jquery-ui dialog processing pulls out this div so it is not
     * nested under the div.help when it is being displayed.
     */
    .help-text {
	ol {
	    list-style: decimal outside none;
	    padding-left: 1em;
	}
	ul {
	    list-style: disc outside none;
	    padding-left: 1em;
	}

	$dd-padding: .4ex;

	dt {
	    font-size: 110%;
	    padding-top: $dd-padding;
	    font-variant: small-caps;
	    font-weight: bold;
	    padding-right: .5em;
	}

	dd {
	    padding-bottom: $dd-padding;
	    margin-left: 1em;
	}

	.help-term {
	    font-style: oblique;
	    font-variant: small-caps;
	}
    }

    $cell-margin: .5em;

    .forms {
	margin-right: auto;
	margin-left: auto;
	display: table;
	border-spacing: $cell-margin .2em;
	border: $block-border;
	border-radius: $cornerRadius;

	form {
	    display: table-row;

	    label.form-description {
		display: table-cell;
		font-variant: small-caps;
	    }

	    input[type=submit] {
		margin-left: $cell-margin;
	    }

	    input {
		display: table-cell;
	    }
	}
    }
}
