<script id='template2' type='text/x-jsrender'>
  <a href='{{:link}}'>
    {{:text}}
  </a>
</script>

<script id='template1' type='text/x-jsrender'>
  <tr class='upd_apar_def'>
    <td class='upd_apar_def-index'>
      {{:#index + 1}}
      <div class='upd_apar_def_commands' style='display: none;'>
	<span>{{link_to ~swinfo_path(defect) defect /}}</span> |
	<span>{{link_to ~swinfo_path(apar) apar /}}</span> |
	<span>{{link_to ~swinfo_path(ptf) ptf /}}</span> |
	<span>{{link_to ~swinfo_path(lpp + ' ' + vrmf) lpp + ' ' + vrmf /}}</span> |
	<span>Item 5</span> |
	<span>Item 6</span> |
	<span>Item 7</span> |
	<span>Item 8</span>
      </div>
    </td>
    <td class='upd_apar_def-defect'>
      {{:defect}}
    </td>
    <td class='upd_apar_def-apar'>
      {{:apar}}
    </td>
    <td class='upd_apar_def-ptf'>
      {{:ptf}}
    </td>
    <td class='upd_apar_def-abstract'>
      {{:abstract}}
    </td>
    <td class='upd_apar_def-lpp'>
      {{:lpp}}
    </td>
    <td class='upd_apar_def-vrmf'>
      {{:vrmf}}
    </td>
    <td class='upd_apar_def-version'>
      {{:version}}
    </td>
    <td class='upd_apar_def-service_pack'>
      {{:service_pack}}
    </td>
  </tr>
</script>
