<script id='template2' type='text/x-jsrender'>
  <a href='{{:link}}'>
    {{:text}}
  </a>
</script>

<script id='template1' type='text/x-jsrender'>
  <tr class='upd_apar_def'>
    <td class='upd_apar_def-index'>
      {{:#index + 1}}
      <ul class='upd_apar_def_commands' style='display: none;'>
	<li>{{link_to ~swinfo_path(defect) defect /}}</li>
	<li>{{link_to ~swinfo_path(apar) apar /}}</li>
	<li>{{link_to ~swinfo_path(ptf) ptf /}}</li>
	<li>{{link_to ~swinfo_path(lpp + ' ' + vrmf) lpp + ' ' + vrmf /}}</li>
	<li>Item 5</li>
	<li>Item 6</li>
	<li>Item 7</li>
	<li>Item 8</li>
      </ul>
    </td>
    <td class='upd_apar_def-defect upd_apar_def_dual_button'>
      <button>{{:defect}}</button>
      <button></button>
    </td>
    <td class='upd_apar_def-apar upd_apar_def_dual_button'>
      <button>{{:apar}}</button>
      <button></button>
    </td>
    <td class='upd_apar_def-ptf upd_apar_def_dual_button'>
      <button>{{:ptf}}</button>
      <button></button>
    </td>
    <td class='upd_apar_def-abstract'>
      {{:abstract}}
    </td>
    <td class='upd_apar_def-lpp upd_apar_def_dual_button'>
      <button>{{:lpp}}</button>
      <button></button>
    </td>
    <td class='upd_apar_def-vrmf'>
      {{:vrmf}}
    </td>
    <td class='upd_apar_def-version upd_apar_def_dual_button'>
      <button>{{:version}}</button>
      <button></button>
    </td>
    <td class='upd_apar_def-service_pack'>
      {{:service_pack}}
    </td>
  </tr>
</script>
