<script id='template2' type='text/x-jsrender'>
  <a href='{{:~swinfo_path(#data)}}'>{{:#data}}</a>
</script>

<script id='template1' type='text/x-jsrender'>
  <tr class='upd_apar_def'>
    <td class='upd_apar_def-index'>
      {{:#index + 1}}
    </td>
    <td class='upd_apar_def-defect'>
      {{for defect tmpl='template2' /}}
      <ul style='display: none;'>
	<li>Item 1</li>
	<li>Item 2</li>
      </ul>
    </td>
    <td class='upd_apar_def-apar'>
      {{for apar tmpl='template2' /}}
    </td>
    <td class='upd_apar_def-ptf'>
      {{for ptf tmpl='template2' /}}
    </td>
    <td class='upd_apar_def-abstract'>
      {{:abstract}}
    </td>
    <td class='upd_apar_def-lpp'>
      {{:lpp}}
    </td>
    <td class='upd_apar_def-vrmf'>
      {{:vrmf}}
    </td>
    <td class='upd_apar_def-version'>
      {{:version}}
    </td>
    <td class='upd_apar_def-service_pack'>
      {{:service_pack}}
    </td>
  </tr>
</script>
