<script id='template1' type='text/x-jsrender'>
  <tr class='upd_apar_def'>
    <td class='upd_apar_def-index'>
      {{:#index + 1}}
    </td>
    <td class='upd_apar_def-defect'>
      <a href='<%= 12345 %>'>{{:defect}}</a>
      <ul style='display: none;'>
	<li>Item 1</li>
	<li>Item 2</li>
      </ul>
    </td>
    <td class='upd_apar_def-apar'>
      {{:apar}}
    </td>
    <td class='upd_apar_def-ptf'>
      {{:ptf}}
    </td>
    <td class='upd_apar_def-abstract'>
      {{:abstract}}
    </td>
    <td class='upd_apar_def-lpp'>
      {{:lpp}}
    </td>
    <td class='upd_apar_def-vrmf'>
      {{:vrmf}}
    </td>
    <td class='upd_apar_def-version'>
      {{:version}}
    </td>
    <td class='upd_apar_def-service_pack'>
      {{:service_pack}}
    </td>
  </tr>
</script>
