<script id="template1" type="text/x-jsrender">
  <tr class='upd_apar_def'>
    <td contextmenu='upd_apar_def_defect_menu_0' >
      {{defect}}
      <ul id='upd_apar_def_defect_menu_0'>
	<li>Item 1</li>
	<li>Item 2</li>
      </ul>
    </td>
    <td>
      {{apar}}
    </td>
    <td>
      {{ptf}}
    </td>
    <td>
      {{abstract}}
    </td>
    <td>
      {{lpp}
    </td>
    <td>
      {{vrmf}}
    </td>
    <td>
      {{version}}
    </td>
    <td>
      {{service_pack}}
    </td>
  </tr>
</script>
